body {
  padding: 0;
  margin: 0;
  background-color: #130d0a;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

#hero {
  height: 800px;
  overflow: hidden;
  position: relative;
}

#content {
  background-color: #130d0a;
}

.layer {
  background-size: auto;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  background: url("../images/full_illustration.png") no-repeat center bottom/cover;
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

p {
  color: #ede0d5;
  font-size: 18px;
  line-height: 150%;
}

#hero {
  min-height: 800px;
}

.layer-bg {
  background-image: url("../images/ilu_bg.jpg");
  background-position: bottom center;
}

.layer-1 {
  background-image: url("../images/paper_air_plane.png");
  background-position: left top;
}

.layer-2 {
  background-image: url("../images/clouds_spread.png");
  background-position: left top;
}

.layer-3 {
  background-image: url("../images/cat_battle_01.png");
  background-position: right bottom;
}

.layer-4 {
  background-image: url("../images/cat_battle_02.png");
  background-position: left top;
  height: 300 px;
  width: 500 px;
}

.layer-5 {
  background-image: url("../images/clouds_low.png");
  background-position: left bottom;
  width: 100%;
}

.layer-6 {
  background-image: url("../images/fade_line.png");
}

.layer-overlay {
  background-image: url("../images/ilu_overlay.png");
}

@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }

  #hero-mobile {
    display: block;
  }
}
.tutorial-link {
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
}
.tutorial-link:hover {
  color: #ede0d5;
}
