body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Playfair Display', serif;
  color: #000000;
}

#topcat {
  height: 800px;
  overflow: hidden;
  position: relative;
}

#content {
  background-color: #ffffff;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

#topcat-mobile {
  display: none;
  background: url("../images/full_illustration.png") no-repeat center bottom/cover;
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

p {
  color: #000000;
  font-size: 18px;
  line-height: 150%;
}

#topcat, .layer {
  min-height: 800px;
}

.layer-bg {
  background-image: url("../images/rainbow_bg_blurred_02.png");
  background-position: top center;
  background-size: 100% 100%;
}

.layer-1 {
  background-image: url("../images/clouds_spread.png");
  background-position: left top;
  background-size: 100%
}

.layer-2 {
  background-image: url("../images/paper_air_plane.png");
  background-position: -10% 20%;
  background-size: 40%;
}

.layer-3 {
  background-image: url("../images/clouds_low.png");
  background-position: left bottom;
  background-size: 100%;
  width: 100%;
}

.layer-4 {
  background-image: url("../images/cat_battle_01.png");
  background-position: -50% 90%;
  background-size: 80%;
}

.layer-5 {
  background-image: url("../images/cat_battle_02.png");
  background-position: right center;
  background-size: 30%;
}

.layer-6 {
  background-image: url("../images/topcat_logo_bright.png");
  background-position: 50% 40%;
  background-size: 35%;
}

.layer-7 {
  background-image: url("../images/fade_line_white.png");
}

.layer-overlay {
  background-image: url("../images/ilu_overlay.png");
}

@media only screen and (max-width: 768px) {
  #topcat {
    display: none;
  }

  #topcat-mobile {
    display: block;
  }
}
